#about {
    background-size: cover;
    background-position: center;
    position: relative;
    height: 1900px;
    z-index: 10;
  }
  .about-info h3 {
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #088ff5;
  }
  .about-info p {
    position: relative;
    font-size: 2rem;
    margin-top: 2rem;
    color: #333;
  }
  .myskill, .myIELTS, .mylng, .myedu {
    padding: 2rem;
    height: auto;
  }
  .skills-container {
    padding: 3rem ;
    background: #f7f7f7;
    height: 225px;
    display: flex;
    justify-content: space-around;
    text-align: center;
  }
  .ielts-container {
    padding: 3rem ;
    background: #f7f7f7;
    height: 200px;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  #overall-score{
      padding-top: 1.5rem;
  }
  .lng-container {
    padding: 3rem 2rem;
    background: #f7f7f7;
    height: 250px;
    /* display: flex;
    text-align: center; */
  }
  .Language{
    padding-top: 0.7rem;
  }
  
  .edu-container{
    padding: 2rem ;
    background: #f7f7f7;
    height: 265px;
    display: flex;
    justify-content: space-around;
    text-align: center;
  }
  .edu-items img{
    height: 100px;
    width: 100px;
  }
  .edu-items h4{
    padding-top: 1rem;
  }
  
  