#contacts{
    background-color: #171717;
    height: 138px;
    background-position: center;
    background-size: cover;
    color: white;
    position: relative;
    z-index: 10;
}
.contact-info h3{
    justify-content: center;
    align-items: center;
    padding: 3rem;
    font-size: 1.5rem;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 5px;
}
ul.menu.ft li a {
    color: white;
    font-size: x-large;
    padding: 0.5rem;
}
.contact-info{
    justify-content: center;
    align-items: center;
    display: flex;
    /* text-align: center; */
}